<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon -->
	<link rel="icon" type="image/x-icon" href="~/favicon.ico">
	<!-- Title -->
	<title>@ViewBag.Title - Admin</title>


	<!-- *************
		************ Common Css Files *************
	************ -->
	<!-- Animated css -->
	<link rel="stylesheet" href="~/css/admin/animate.css">

	<!-- Bootstrap font icons css -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

	<!-- DataTable -->
	<link rel="stylesheet" href="~/lib/datatables/dataTables.bs5.css" />
	<link rel="stylesheet" href="~/lib/datatables/dataTables.bs5-custom.css" />

	<!-- Main css -->
	<link rel="stylesheet" href="~/css/admin/main.min.css">


	<!-- *************
		************ Vendor Css Files *************
	************ -->
	<!-- Scrollbar CSS -->
	<link rel="stylesheet" href="~/lib/overlay-scroll/OverlayScrollbars.min.css">

	<!-- Custom CSS -->
	@await RenderSectionAsync("Styles", required: false)

</head>

<body>

	<!-- Page wrapper start -->
	<div class="page-wrapper">

		<!-- Sidebar wrapper start -->
		@await Html.PartialAsync("_Sidebar")
		<!-- Sidebar wrapper end -->
		<!-- *************
			************ Main container start *************
		************* -->
		<div class="main-container">

			<!-- Page header starts -->
			@await Html.PartialAsync("_Header")
			<!-- Page header ends -->
			<!-- Content wrapper scroll start -->
			<div class="content-wrapper-scroll">

				<!-- Content wrapper start -->
				<div class="content-wrapper">
					@RenderBody()
				</div>
				<!-- Content wrapper end -->
				<!-- App Footer start -->
				<div class="app-footer">
					<span>© Melon admin 2023</span>
				</div>
				<!-- App footer end -->

			</div>
			<!-- Content wrapper scroll end -->

		</div>
		<!-- *************
			************ Main container end *************
		************* -->

	</div>
	<!-- Page wrapper end -->
	<!-- *************
		************ Required JavaScript Files *************
	************* -->
	<!-- Required jQuery first, then Bootstrap Bundle JS -->
	<script src="~/js/admin/jquery.min.js"></script>
	<script src="~/js/admin/bootstrap.bundle.min.js"></script>
	<script src="~/js/admin/modernizr.js"></script>
	<script src="~/js/admin/moment.js"></script>

	<!-- *************
		************ Vendor Js Files *************
	************* -->
	<!-- Apex Chart JS -->
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>

	<!-- Overlay Scroll JS -->
	<script src="~/lib/overlay-scroll/jquery.overlayScrollbars.min.js"></script>
	<script src="~/lib/overlay-scroll/custom-scrollbar.js"></script>


	<!-- Main Js Required -->
	<script src="~/js/admin/main.js"></script>

	<!-- DataTable -->
	<script src="~/lib/datatables/dataTables.min.js"></script>
	<script src="~/lib/datatables/dataTables.bootstrap.min.js"></script>

	<!-- Custom Javascript -->
	@await RenderSectionAsync("Scripts", required: false)

</body>

</html>