@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Xác thực quên mật khẩu";
}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <p class="mb-4">
                        <i class="fas fa-envelope fa-3x text-primary mb-3"></i>
                    </p>
                    <p class="mb-4">
						Vui lòng kiểm tra email của bạn để đặt lại mật khẩu. Nếu bạn không nhận được email, hãy kiểm tra thư mục spam hoặc thử lại.
                    </p>
                    <a href="/" class="btn btn-primary w-100 text-light">Quay lại trang chủ</a>
                </div>
            </div>
        </div>
    </div>
</div>
