@page "/Login"
@model LoginModel
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
@{
    ViewData["Title"] = "Đăng nhập";
	Layout = "/Views/Shared/_AuthLayout.cshtml";
}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-lg" style="width: 28rem;">
        <div class="card-body">
            <h2 class="card-title text-center mb-4">@ViewData["Title"]</h2>
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="alert alert-danger mb-3" role="alert"></div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.Password">Mật khẩu</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="form-check mb-4">
                    <input class="form-check-input" asp-for="Input.RememberMe" />
                    <label class="form-check-label" asp-for="Input.RememberMe">
                        Ghi nhớ tài khoản
                    </label>
                </div>

                <button id="login-submit" type="submit" class="w-100 btn btn-primary btn-lg text-light">Đăng nhập</button>
            </form>

            <div class="text-center mt-3">
                <p>Hoặc</p>
                <form method="post" asp-page-handler="ExternalLogin">
                    <input type="hidden" name="provider" value="Google" />
                    <button type="submit" class="btn btn-danger w-100 mb-2">
                        <i class="bi bi-google"></i> Đăng nhập bằng Google
                    </button>
                </form>
                <form method="post" asp-page-handler="ExternalLogin">
                    <input type="hidden" name="provider" value="Facebook" />
                    <button type="submit" class="btn btn-primary w-100">
                        <i class="bi bi-facebook"></i> Đăng nhập bằng Facebook
                    </button>
                </form>
            </div>

        </div>
        <div class="card-footer py-3">
            <div class="d-flex justify-content-between">
                <a asp-page="./ForgotPassword">Quên mật khẩu?</a>
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Tạo tài khoản</a>
            </div>
        </div>
    </div>
</div>

